n8n_workflows/anomaly_monitor.json
{
  "name": "Anomaly Monitor - Realtime Alerts",
  "nodes": [
    {
      "parameters": {
        "path": "anomaly",
        "method": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "carthage-anomaly"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.anomaly_type}}",
              "value2": "volume_spike"
            }
          ]
        }
      },
      "name": "Switch by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO anomalies (stock_id, detected_at, anomaly_type, severity, anomaly_score, description) VALUES ({{$json.body.stock_id}}, NOW(), '{{$json.body.anomaly_type}}', '{{$json.body.severity}}', {{$json.body.score}}, '{{$json.body.description}}')",
        "options": {}
      },
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Carthage DB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@carthage_alerts",
        "text": "⚠️ Volume Spike Detected!\\n\\nStock: {{$json.body.ticker}}\\nType: {{$json.body.anomaly_type}}\\nSeverity: {{$json.body.severity}}\\nScore: {{$json.body.score}}\\n\\nDescription: {{$json.body.description}}"
      },
      "name": "Telegram - Volume Spike",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@carthage_alerts",
        "text": "🚨 CRITICAL: Market Manipulation Suspected!\\n\\nStock: {{$json.body.ticker}}\\nType: {{$json.body.anomaly_type}}\\nSeverity: {{$json.body.severity}}\\nScore: {{$json.body.score}}\\n\\nCMF Rule: {{$json.body.cmf_rule}}\\n\\nREQUIRES IMMEDIATE INVESTIGATION!"
      },
      "name": "Telegram - Manipulation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "to": "regulator@cmf.tn",
        "subject": "Anomaly Report - {{$json.body.ticker}}",
        "text": "Anomaly detected requiring CMF reporting.\\n\\nDetails:\\nStock: {{$json.body.ticker}}\\nType: {{$json.body.anomaly_type}}\\nTimestamp: {{$json.body.timestamp}}\\n\\nSee attached report.",
        "options": {}
      },
      "name": "Email CMF",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "Email Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Switch by Type", "type": "main", "index": 0 }]]
    },
    "Switch by Type": {
      "main": [
        [{ "node": "Log to Database", "type": "main", "index": 0 }],
        [{ "node": "Log to Database", "type": "main", "index": 0 }],
        [{ "node": "Log to Database", "type": "main", "index": 0 }]
      ]
    },
    "Log to Database": {
      "main": [
        [
          { "node": "Telegram - Volume Spike", "type": "main", "index": 0 },
          { "node": "Telegram - Manipulation", "type": "main", "index": 0 }
        ]
      ]
    },
    "Telegram - Manipulation": {
      "main": [[{ "node": "Email CMF", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
